<figure class="figure">
    <img src="../../../assets/images/doug-watanabe-p060CZWRGSc-unsplash.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-width: 150px;">
    <figcaption class="figure-caption">Movie Title</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> Rate:<b> 6/10</b></figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/doug-watanabe-p060CZWRGSc-unsplash.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-width: 150px;">
    <figcaption class="figure-caption">Movie Title</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> Rate:<b> 6/10</b></figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/doug-watanabe-p060CZWRGSc-unsplash.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-width: 150px;">
    <figcaption class="figure-caption">Movie Title</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> Rate:<b> 6/10</b></figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/doug-watanabe-p060CZWRGSc-unsplash.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-width: 150px;">
    <figcaption class="figure-caption">Movie Title</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> Rate:<b> 6/10</b></figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/doug-watanabe-p060CZWRGSc-unsplash.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-width: 150px;">
    <figcaption class="figure-caption">Movie Title</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> Rate:<b> 6/10</b></figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/doug-watanabe-p060CZWRGSc-unsplash.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-width: 150px;">
    <figcaption class="figure-caption">Movie Title</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> Rate:<b> 6/10</b></figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/doug-watanabe-p060CZWRGSc-unsplash.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-width: 150px;">
    <figcaption class="figure-caption">Movie Title</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> Rate:<b> 6/10</b></figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/doug-watanabe-p060CZWRGSc-unsplash.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-width: 150px;">
    <figcaption class="figure-caption">Movie Title</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> Rate:<b> 6/10</b></figcaption>
</figure>
<figure class="figure">
    <img src="../../../assets/images/doug-watanabe-p060CZWRGSc-unsplash.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-width: 150px;">
    <figcaption class="figure-caption">Movie Title</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> Rate:<b> 6/10</b></figcaption>
</figure>