<!-- <p>details works!</p>
<app-details-movies></app-details-movies>
<br>
<app-details-reviews></app-details-reviews> -->

<h1>Movie Title</h1>
<br>

<div class="row">
    <div class="col-md-6">
        <iframe width="540" height="360" src="https://www.youtube.com/embed/8d2_pXEiWAo?list=PL2Q8rFbm-4rvLbNC60DjPBdlTOQb_CbHI" title="27. Designing the Movie Details - Trailer and Summary" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
        <p class="lead" >Movie plot placeholder</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Stars</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Star name 1</li>
                        <li class="list-group-item">Star name 2</li>
                        <li class="list-group-item">Star name 3</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Directors</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Director name 1</li>
                        <li class="list-group-item">Director name 2</li>
                        <li class="list-group-item">Director name 3</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Genre</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Genre name 1</li>
                        <li class="list-group-item">Genre name 2</li>
                        <li class="list-group-item">Genre name 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h1>Actors</h1>
    <br>
    <div class="col-md-12 text-center">
        <app-actors>
            <figure class="figure">
                <img src="../../../assets/images/jack-anstey-XVoyX7l9ocY-unsplash.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="..." style="max-width: 150px;">
                <figcaption class="figure-caption">Actor</figcaption>
                <figcaption class="figure-caption">Role</figcaption>
              </figure>
        </app-actors>
    </div>
</div>
<app-details-movies></app-details-movies>

<app-details-reviews></app-details-reviews>