

<h1>Results for {{movieTitle}}</h1>
<hr>

<table class="table table-stripe">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cover</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
            <img src="../../../assets/images/pexels-saad-alawi-14831456.jpg" width="100" alt="" srcset="">
        </td>
        <td>Movie 1 Title</td>
        <td>This is a short description</td>
        <td>
            <a href="" class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="bi bi-film">Trailer</i> </a> 
            <a href="" class="btn btn-primary"> <i class="bi bi-eye">Details</i> </a> 
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>
            <img src="../../../assets/images/pexels-saad-alawi-14831456.jpg" width="100" alt="" srcset="">
        </td>
        <td>Movie 2 Title</td>
        <td>This is a short description</td>
        <td>
            <a href="" class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="bi bi-film">Trailer</i> </a> 
            <a href="" class="btn btn-primary"> <i class="bi bi-eye">Details</i> </a> 
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>
            <img src="../../../assets/images/pexels-saad-alawi-14831456.jpg" width="100" alt="" srcset="">
        </td>
        <td>Movie 3 Title</td>
        <td>This is a short description</td>
        <td>
            <a href="" class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="bi bi-film">Trailer</i> </a> 
            <a href="" class="btn btn-primary"> <i class="bi bi-eye">Details</i> </a> 
        </td>
      </tr>
      
    </tbody>
</table>

<!-- Button trigger modal -->
 